{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 100,
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "semi": false,
  "vue": {
    "singlelineHtmlElementContentNewline": [
      "always"
    ]
  }
}
